
body {
    font-size: 16px;
    background-color: #fdfdfd;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

h2 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 50px;
    margin-top: 0;
}

h2, h4 {
    text-align: center;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

section {
    border-bottom: 1px solid lightgray;
}

.join {
    background: #f4de64;
    border-radius: 8px;
    padding: 10px;
}

.center {
    text-align: center;
}

button {
    width: 300px;
}

::placeholder {
    color: #aaa;
}


/*Первый Блок*/
.intro-header {
  padding: 20px 0 50px;
  background: url("../img/intro-bg1.jpg") no-repeat center center;
  background-size: cover;
  height: 635px;
}

.callInfo {
  padding-top: 10px;
  padding-bottom: 120px;
}

.callInfo p {
    text-align: center;
    float: right;
    width: 250px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    /* opacity: 0.8; */
}

.callInfo .logo {
  float: left;
  width: 250px;
  padding: 5px;
}

.callInfo span {
  font-weight: bold;
  font-size: 25px;
}

#inviteBox {
    width: 500px;
    background: rgba(0,0,0,0.5);
}

.inviteText {
    text-align: center;
    float: right;
    font-size: 28px;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid;
    padding: 50px 50px;
}

.inviteText input, .inviteText button {
    font-size: 18px;
    margin: 0 auto 5px;
    text-align: center;
    width: 305px;
}

.inviteText input {
    padding-top: 7px;
    padding-bottom: 7px;
    background: transparent;
    border: 0;
    text-align: left;
    display: block;
    width: 300px;
    margin: 0 auto;
    border-bottom: 1px solid;
    margin-bottom: 30px;
    border-color: #aaa;    
}

#inv_form {
    margin-top: 30px;
}

/*Второй Блок*/
.about_us {
  margin-top: 100px;
  padding-bottom: 50px;
}

.main_info {
    margin: 70px 0 30px;
}

.history {
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
}

.history + .history {
    margin-top: 20px;
}

.number {
    font-size: 30px;
    line-height: 32px;
}

.number-desc {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.number, .number-desc {
    display: block;
    font-weight: 600;    
}

/*Третий Блок*/
.manufacturers {
  background-color: #eee;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 90px;
}

.manufacturers p {
  text-align: left;
  margin: 10px;
}

.manufacturers button {

    font-size: 18px;
    margin: 50px;
    text-align: center;

}

.manufacturers img {
  width: 150px;
  height: 70px;
}

.carousel-indicators {
  bottom:-40px;
}

/*Четвертый блок*/
.our_approach {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 50px;
}

.our_approach h2 {
  padding-bottom: 20px;
}

.our_approach p {
  font-size: 16px;
  margin: 10px;
  text-align: left;
}

.our_approach img {

    width: 270px;
    height: 200px;
}

@media screen and (max-width: 480px) {
    .our_approach p {
      text-align: center;
    }
}

/*Пятый блок*/
.test_block {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("../img/imgTest.jpeg") no-repeat center center;
  background-size: cover;
  text-align: center;
  color: white;

}
.modal {
  color: black;
    
}
.test_block p {
  font-size: 22px;
  text-align: center;
  margin: 20px;
}

.modal-body {
  text-align: left;
  margin-bottom: 45px;  
}

#t_city, #t_phone, #t_mail, #t_name {
    width: 45%;
    padding: 5px;
    margin: 5px;
} 

.modal #t_sub, .modal #t_canc  {
    
    margin-top: 7px;
    float: right;
}

/*Шестой блок*/
.question {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

#q_form, #g_form {
    margin: 20px;
}

#q_form input, textarea, #g_form input {
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.dropquest {
    
    margin-top: 60px;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}

.d_one, .d_two, .d_three, .d_four, .d_five {
    margin: 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc; 
}

.d_one:hover, .d_two:hover, .d_three:hover, .d_four:hover, .d_five:hover {
    cursor: pointer;
}

#d_one, #d_two, #d_three, #d_four, #d_five {
    
    margin-top: 35px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    
}

/*Седьмой блок*/
.our_team {
  /*background: Фотография из салона,
   на которой изображен руководитель
   компании*/
  margin-top: 50px;
  padding-bottom: 50px;
}

.our_team h2, h4 {
  text-align: center;
}

.our_team h2 {
    margin-bottom: 50px; 
}

.our_team p {
  float: right;
}

.our_team span {
  float: left;
}

.teams {
  margin-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 18px;
}

.teams img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 20px;
}

.teams span {
    font-weight: 600;
    font-size: 22px;
}

/*Восьмой блок*/
.map {
  background-size: 100% auto;
  padding-top: 50px;
  padding-bottom: 120px;
}

.map h2 {
    margin-bottom: 10px;
}

.mapInfo {
  text-align: left;
  float: right;
  font-size: 28px;
  padding: 50px;
  border: 3px solid black;
  background-color: #ffffff;
}

#bt_map {

  font-size: 20px;
  padding: 15px;
  text-align: center;
  color: black;
  width: 80%;
}

.mapInfo input, .mapInfo textarea {
    font-size: 18px;
}

/*Девятый блок*/
.footer {
    background-color: #262626;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
    font-size: 20px;
    padding-left: 40px;
}

.footer a {
    color: white;
    border-bottom: 1px dashed;
}

#rules .modal-dialog {
    color: black;
    font-size: 16px;
    width: 70%;
    
}

@media screen and (max-width: 480px) {
    #rules .modal-dialog {
    color: black;
    font-size: 16px;
    width: 100%;
    
    }
}

#rules .modal-content {
    padding-left: 20px;    
    padding-right: 25px;    
    padding-top: 20px;
    padding-bottom: 70px;
}

#close {
    float: right;
    font-size: 16px;
    
}

/* Дизайн кнопок */
.push_button {
	position: relative;
	width:220px;
	height:40px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	line-height:43px;
	display: block;
	margin: 30px;
}
.push_button:before {
	background:#f0f0f0;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
	
	position: absolute;
	content: "";
	left: -6px; right: -6px;
	top: -6px; bottom: -10px;
	z-index: -1;
}

.push_button:active {
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
	top:5px;
}
.push_button:active:before{
	top: -11px;
	bottom: -5px;
	content: "";
}

.new-btn {
	/*text-shadow:-1px -1px 0 #c7ad00;*/
	background: #ffde00;
    color: #313131;
    font-weight: 600;
	border:1px solid #ddc000;
	
	background-image:-webkit-linear-gradient(top, #e8d342, #ffdf00);
	background-image:-moz-linear-gradient(top, #e8d342, #ffdf00);
	background-image:-ms-linear-gradient(top, #e8d342, #ffdf00);
	background-image:-o-linear-gradient(top, #e8d342, #ffdf00);
	background-image:linear-gradient(to bottom, #e8d342, #ffdf00);
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #ab9500, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #ab9500, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #ab9500, 0 4px 2px rgba(0, 0, 0, .5);
}

.new-btn:hover {
	background: #e8d342;
	background-image:-webkit-linear-gradient(top, #ffdf00, #e8d342);
	background-image:-moz-linear-gradient(top, #ffdf00, #e8d342);
	background-image:-ms-linear-gradient(top, #ffdf00, #e8d342);
	background-image:-o-linear-gradient(top, #ffdf00, #e8d342);
	background-image:linear-gradient(top, #ffdf00, #e8d342);
}